* {
    font-family: 'Times New Roman', Times, serif;
}
body {
    margin: auto;
    padding: 2rem;
}
.row-content {
    display: flex;
}
.row-content img {
    width: 650px;
    height: 350pxpx;
}
.tetx-content {
    width: 300px;
}
.tetx-content h4 {
    margin: auto;
    padding: 0 1rem;
}
.tetx-content p {
    padding-left: 10px;
}
.tetx-content .note {
    font-size: 0.8rem;
    opacity: 0.7;
}

.col-content {
    display: flex;
    margin-top: 10px;
}
.col-content .col-content-iterm .text-content {
    padding-left: 0px !important;
    transform: translate(-10px, 0px);
}
.col-content-iterm {
    padding: 0px 50px 0px 0px;
    width: 40%;
} 